# Banco de dados PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/minimerx_db?schema=public"

# NextAuth.js v5
# Gerar com: openssl rand -base64 32
AUTH_SECRET="troque-este-valor-em-producao"
AUTH_TRUST_HOST=true
NEXTAUTH_URL="http://localhost:3000"

# Produção
# NEXTAUTH_URL="https://dashboard.minimerx.com.br"
NODE_ENV="development"
